.main{
    display: flex;
}

.book{
    width: 40%;
}

.book figure img{
    width: 100%;
    height: 100%;
    max-height: 630px;
    object-fit: contain;
}

.featured{
    line-height: 30px;
    width: 60%;
}

.featured h1{
    text-transform: uppercase;
    margin: 20px 0px;
}

.featured p{
    margin-bottom: 10px;
    font-size: 14px;
}

p.last::after{
    content: "";
    height: 3px;
    width: 40px;
    background-color: var(---primary);
    display: block;
    margin-top: 10px;
}

.action{
    display: flex;
    margin-top: 30px;
}

.action button{
    padding: 17px 40px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.action button:first-child{
    background-color: var(---primary);
    color: white;
}

.action button:last-child{
    background-color: white;
    color: var(---primary);
}

@media screen and (max-width: 940px) {
    .main{
        display: block;
    }

    .main figure img{
        width: 100%;
        height: 100%;
    }

    .book {
        width: 100%;
    }

    .featured {
        width: 100%;
    }

    .action{
        display: block;
    }

    .action button{
        width: 100%;
    }
}